{% extends 'cadastros/modelo.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">


    <div class="row">
        <div class="col-lg">
            <h3>{{ titulo }}</h3>
        </div>
    </div>


    <div class="row">
        <div class="col-lg">
            <form method="post">
                <!-- Todo formulário tem que ter essa validação -->
                {% csrf_token %}
                <!-- Gera o formulário -->
                {{ form|crispy }}
            <div class="d-flex justify-content-center">
               <button type="submit" class="btn btn-primary m-2">
                    Entrar
                </button>
                <button type="button" onclick="mostrarSenha()" class="btn btn-secondary m-2">
                    Mostrar senha
                </button>
                <a href="" class="btn btn-secondary m-2">
                    Cadastre-se
                </a>
            </div> 
            </form>
        </div>
    </div>


</div>
{% endblock %}
{%block scripts%}
    <script>
        function mostrarSenha() {
            if ($("#id_password").prop("type") == "password") {
                $("#id_password").prop("type", "text")
                return;
            }

            if ($("#id_password").prop("type") == "text") {
                $("#id_password").prop("type", "password")
                return
            }
        }
    </script>
{%endblock%}
