{% extends 'cadastros/modelo.html'%}
{% load meusfiltros %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="row justify-content-center align-items-center mt-3">
    <div class="col-md-8">
        <h3 class="">Lista de Ataque</h3>
    </div>
    <div class="col-md">
        <a href="{% url 'cadastrar-ataque' %}" class="btn btn-primary btn-sm">
            <i class="bi bi-plus-lg"></i>
            Novo Ataque
        </a>
    </div>
</div>

<hr>

<div class="table-responsive-lg">
    <table id="table" class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr class="">
                <td>{{ obj.nome }} <span class="badge bg-secondary">Ataques: {{obj|tipo_ataque}}</span></td>
                <td><a class="btn btn-primary" href="{% url 'alterar-ataque' obj.pk %}" ><i class="bi bi-pencil-square"></i> Editar</a></td>
                <td><a class="btn btn-danger" href="{% url 'deletar-ataque' obj.pk %}"><i class="bi bi-trash"></i> Excluir</a></td>
            </tr>
            {% empty %}
            <tr>
                <th id="naoEncontrado" colspan="100%">Nenhum registro encontrado.</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="row justify-content-center align-items-center">
    <div class="col-md">
        <h3 class="">Você não tem acesso</h3>
    </div>
</div>
{% endif %}
{% endblock %}

{%block scripts%}
<script>
    $(document).ready(function () {
         if ($('#naoEncontrado').length <= 0) {
            $('#table').DataTable({
                "pagination": true,
            });
        }
        
        if ($('#naoEncontrado').length) {
            alertify.alert("Você não tem pokemons cadastrados, por favor, cadastre.", function () {
                    alertify.success('Ok');
                });
        }

    })
</script>
{%endblock%}