{% extends 'cadastros/modelo.html'%}
{% block content %}
{% if not request.user.is_authenticated %}
<div class="row justify-content-center align-items-center mt-3">
    <div class="col-md-8">
        <h3 class="">Lista de Treinador</h3>
    </div>
    <div class="col-md">
        <a href="{% url 'cadastrar-treinador' %}" class="btn btn-primary btn-sm">
            <i class="bi bi-plus-lg"></i>
            Novo Treinador
        </a>
    </div>
</div>

<hr>

<div class="table-responsive-lg">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr class="">
                <td>{{ obj.nome }}</td>
               <td><a class="btn btn-primary" href="{% url 'alterar-treinador' obj.pk %}" ><i class="bi bi-pencil-square"></i> Editar</a></td>
               <td><a class="btn btn-danger" href="{% url 'deletar-treinador' obj.pk %}"><i class="bi bi-trash"></i> Excluir</a></td>
            </tr>
            {% empty %}
            <tr>
                <th colspan="100%">Nenhum registro encontrado.</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="row justify-content-center align-items-center">
    <div class="col-md">
        <h3 class="">Você não tem acesso</h3>
    </div>
</div>
{% endif %}

{% endblock %}